/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* CUSTOM PROPS */
:root {
  --text-color: #fff;
}

/* GENERAL */
html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: #111;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  margin: 0;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  background-color: transparent;
  text-align: center;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: opacity 0.5s ease;

  &--white {
    background-color: #fff;
    color: #000;
  }

  &--black {
    background-color: #000;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
